<footer class="footer">
    <div class="row">
        <div class="col-md-2">
            <img src="./assets/img/logo.png">
        </div>
        <div class="col-md-5">
            <p class="title-mini color-white mg-0">{{lang.ft_1}}</p>
            <p class="color-white mgb-30">{{lang.ft_text1}}</p>

            <p class="color-white">{{lang.ft_text2}}</p>

            <div class="footer-content color-white"><img src="./assets/img/vector 1.svg">{{lang.ft_text3}}</div>
            <div class="footer-content color-white"><img src="./assets/img/phone 1 (2).svg">mailcontact_dx@vnpt.vn</div> 
           <div class="footer-content color-white"><img src="./assets/img/mail 1.png">mailcontact_dx@vnpt.vn</div> 
            
            <div class="footer-content color-white"><img src="./assets/img/world 1.png">worldhttps://vnpt.com.vn/</div> 
        </div>
        <div class="col-md-5 text-center">
            <p class="title-mini color-white mgb-30"><a id="dk">{{lang.ft_text4}}</a></p>
            <div class="item-center">
                <div class="input-information">
                    <label class="color-white wd-100">{{lang.ft_text5}}: </label>
                    <input type="text">
                </div>
                <div class="input-information">
                    <label class="color-white wd-100">{{lang.ft_text6}}: </label>
                    <input type="tel">
                </div>
                <div class="input-information">
                    <label class="color-white wd-100">Email: </label>
                    <input tabindex="Email">
                </div>
            </div>
            
            <button class="btn-dk color-custom" style="color: #ffffff;">{{lang.register}}</button>
        </div>
    </div>
</footer>
